* {
    box-sizing: border-box;
    font-size: 1em;
}
header {
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    font-size: 1.5em;
}
#logo {
    position: absolute;
    top: 2em;
    left: 2em;
    border: 8px double grey;
    padding: 2em;
    text-align: center;
}

#winner_score {
    position: absolute;
    top: 2em;
    right: 2em;
    border: 8px double grey;
    padding: 2em;
    text-align: center;
}

body {
    background-color: rgb(223, 194, 200);
}
main {
    padding: 1.6rem;
    padding-top: 4em;
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
.play_box {
    width: 5em;
    height: 5em;
    background-color: grey;
    color: honeydew;
    border: 5px solid honeydew;
    text-align: center;
    margin: 1em;
    line-height: 450%;
}

#play_field {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.curved_box {
    border: 8px double grey;
    border-radius: 5px;
    height: 100px;
    width: 180px;
    padding: 5px;
}
input {
    font-size: small;
}

footer {
    text-align: center;
}
